.gradiente{
    background-image: linear-gradient(rgba(166, 166, 240, 0.466),rgba(255, 166, 0, 0.384),rgba(131, 236, 131, 0.473));
}
.pad1{
    animation-name: color;
    animation-duration: 8s;
}
@keyframes color{
    0%{
        background-color: rgb(114, 67, 14)
    }
    50%{
        background-color: $letra_borde;
    }
    100%{
        background-color: rgba(58, 241, 58, 0.658);
    }
}


pa{
    @include bordear;
    padding: 1.5%;
    p{
        font-weight:map-get($mapa_blacknegrita,negrita)
        }
}

.pad3{
    @include bordear;
}
.p img:hover{
    transform: skew(-5deg, -5deg);
}